<div class="card" style="margin-top:20px; padding:30px 0;">
    <div class="content has-text-centered">
        <p>
            <a href="https://www.berlinchan.com" target="_blank" rel="noopener">陈柏林的Blog</a> 出品
        </p>
        <p>
            Powered by <a href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a> and
            Goyangin Theme by <a href="http://g3xdev.com" target="_blank" rel="noopener">g3xx</a>.
        </p>
    </div>
</div>