@charset "UTF-8";

body {
    margin: 0;
}

ul.recent-notification {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.recent-notification li {
    margin-top: 8px;
    padding: 0 8px;
}

ul.recent-notification li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

ul.recent-notification li a .title {
    display: inline-block;
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

ul.recent-notification li a .date {
    width: 60px;
    display: inline-block;
    text-align: right;
}
